{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% include Constants.header_template %}
<div class="w3-center">
  Oferta
</div>
{% endblock %}

{% block content %}

    <p>
        El valor del objeto se estima ser {{ player.item_value_estimate }}.
        Esta estimación puede desviarse del valor real con un margen de {{ Constants.estimate_error_margin }}.
    </p>

    <p>
        Haga su oferta ahora. El monto puede ser entre {{ Constants.min_allowable_bid }} y {{ Constants.max_allowable_bid }}, inclusivo.
    </p>

    {% formfield player.bid_amount with label="Bid amount" %}

    {% next_button %}

    {% include Constants.instructions_template %}
    {% include Constants.footer_template %}
{% endblock %}
