{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>
    <p>
        Has sido aleatoriamente y anónimamente agrupado con otros jugadores.
        Todos los jugadores ven estas mismas instrucciones.
    </p>

    <p>
      Su tarea será ofertar por un artículo que se está subastando.
      Antes de ofertar, cada jugador recibirá una estimación del valor real
      del artículo. Las estimaciones pueden ser diferentes entre los jugadores.
      El valor real del elemento, que es común para todos los jugadores, será
      revelado después de que se haya realizado la subasta.
    </p>

    <p>
        Basado en el valor estimado dado, cada jugador enviará una oferta
        dentro de un rango determinado.
        Todas las ofertas son privadas y se envían al mismo tiempo.
    </p>

    <p>
      El jugador con la mejor oferta recibirá el valor real del artículo como pago
      menos su propio monto de oferta.
      Si el monto de la oferta del ganador es mayor que el valor real del artículo,
      el pago será cero.
      En caso de empate entre dos o más jugadores, el ganador será
      elegido al azar. Otros jugadores no recibirán nada.
    </p>
</div>
