{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        Has sido aleatoriamente emparejado con otro participante.
        Hay {{ Constants.amount_shared }} para que dividas.
        Ambos tienen que simultáneamente e independientemente pedir una porción
        de los {{ Constants.amount_shared }} para uno mismo. Si la suma de sus demandas
        es igual a o menor que {{ Constants.amount_shared }}, ambos obtienen lo que
        pidieron. En caso contrario, ambos obtienen 0 puntos.
    </p>
</div>
