{% load otree_tags staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        En este estudio, serás emparejado aleatoriamente y anónimante con otro participante. Uno de ustedes será
        asignado Esposo y el otro Esposa. Antes de tomar su decisión, aprenderán su rol.
    </p>

    <p>
      Tanto el esposo como la esposa tienen dos opciones para pasar la tarde. Cada uno puede ir a un partido
      de fútbol o ir a una ópera. El esposo prefiere el fútbol y la esposa prefiere la ópera; sin embargo, para ambos es más importante
      que salgan juntos que ir por separado.
    </p>

    <p>
      Cada uno de ustedes debe tomar una decisión de forma independiente y simultánea. Sus payoffs serán determinados por ambos
      opciones como se muestra a continuación:
    </p>

    <p>
        <em>En cada celda, la cantidad a la izquierda representa el payoff para la esposa y la derecha por el esposo.</em>

    </p>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th colspan="2"></th>
                    <th colspan="2">Esposo</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th>Fútbol</th>
                    <th>Opera</th>
                </tr>
                <tr>
                    <th rowspan="2"><span class="rotate90">Wife</span> </th>
                    <th>Fútbol</th>
                    <td>{{ Constants.football_wife_payoff }}, {{ Constants.football_husband_payoff }}</td>
                    <td>{{ Constants.mismatch_payoff }}, {{ Constants.mismatch_payoff }} </td>
                </tr>
                <tr>
                    <th>Opera</th>
                    <td>{{ Constants.mismatch_payoff }}, {{ Constants.mismatch_payoff }}</td>
                    <td>{{ Constants.opera_husband_payoff }}, {{ Constants.opera_wife_payoff }}</td>
                </tr>
            </table>
        </div>
    </div>

    <p>
         For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
