{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% include Constants.header_template %}
    <div class="w3-center">
      Tu Elección
    </div>
{% endblock %}

{% block content %}

    {% if player.round_number > 1 %}
        <p>
            Valores promedio de dos tercios en rondas anteriores:
            {{ group.two_thirds_avg_history }}
        </p>
    {% endif %}

    {% formfield player.guess with label="Elija un número de 0 a 100:" %}
    {% next_button %}

    {% include Constants.instructions_template %}
    {% include Constants.footer_template %}

{% endblock %}
