{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        Estás en un grupo de {{ Constants.players_per_group }} personas.
        A cada uno de ustedes se le pedirá que elija un
        número entre 0 y {{ Constants.guess_max }}.
        El ganador será el participante cuyo
        el número es el más cercano a 2/3 del
        promedio de todos los números elegidos.
    </p>

    <p>
        El ganador recibirá {{ Constants.jackpot }}.
        En caso de un empate, {{ Constants.jackpot }}
        será dividido equitativamente entre los ganadores.
    </p>

    <p>El juego se jugará por {{ Constants.num_rounds }} rondas.</p>

</div>
