{% extends "otree/Page.html" %}
{% load staticfiles otree_tags %}

{% block global_styles  %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .otree-body {
        max-width:100%
    }
</style>

{% endblock %}

{% block global_scripts  %}
  <script type="text/javascript" src="{% static 'global/custom.js' %}"></script>
{% endblock %}
