{% load otree_tags staticfiles %}

<div class="instructions well well-lg" style="">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>
    <p>
        Has sido aleatoriamente e anónimamente emparejado con otro participante.
        Cada uno de ustedes representará una empresa. Cada empresa fabrica una unidad de
        el mismo producto sin costo alguno.
    </p>
    <p>

        Cada uno de ustedes establece su precio en forma individual de 0 a {{ Constants.maximum_price }}.
        El comprador en el mercado siempre comprará una unidad del producto con el precio mas bajo.
        En caso de empate, el comprador comprará uno
        de forma aleatoria. Su ganancia es su precio fijo si su producto se vende y cero
        de forma contraria.
    </p>
</div>
