{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
{% include Constants.header_template %}
    <div class="w3-center">
      Tu rol y decisión
    </div>
{% endblock %}
{% block content %}
    <p>
        Tu eres el <strong>respondedor</strong>.
    </p>
    <p>
        The proposer will make you an offer on how to divide
        the {{ Constants.endowment }}.
    </p>
    <p>
        Please choose below how you would respond to each of the possible
        offers.
    </p>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}
    {% next_button %}
    {% include Constants.instructions_template %}
    {% include Constants.footer_template %}
{% endblock %}
