{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
{% include Constants.header_template %}
    <div class="w3-center">
      Tu rol y decisión
    </div>
{% endblock %}
{% block content %}
    <p>
        Tu eres el <strong>respondedor</strong>.
    </p>
    <p>
        El proponente hará una oferta sobre cómo dividir
        los {{ Constants.endowment }}.
    </p>
    <p>
      Elija a continuación cómo responder a cada uno de los posibles
      ofertas
    </p>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}
    {% next_button %}
    {% include Constants.instructions_template %}
    {% include Constants.footer_template %}
{% endblock %}
