{% load staticfiles otree %}
<div class="instructions well well-lg">
    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>
    <div class="panel-body">
        <p>
            Primero, cada jugador será aleatoriamente emparejado con otro jugador. En
            otra palabras cada uno tendra su contraparte, pero no se les indicará quién es.
            Su identidad también permanecerá oculta a su contraparte.
        </p>
        <p>
            Los dos participantes en un par tendrán dos roles diferentes: el
            <strong>proponente</strong> y el <strong>respondedor</strong>.
            Serás asignado un rol aleatoriamente y se mostrará en la página siguiente.
        </p>
        <p>

            Los dos recibirán juntos {{ Constants.endowment }}. El experimento trata sobre cómo dividir esta cantidad.
            El proponente hará una propuesta de "take-it-or-leave-it",
            que el respondedor puede aceptar o rechazar.
            Si la oferta es rechazada, ambos recibirán
            {{ Constants.payoff_if_rejected }}.
        </p>
        <h4 class="panel-sub-heading">
            Rol de Proponente
        </h4>
        <p>
            El proponente tiene {{ Constants.offer_choices_count }}
            opciones en cómo dividir {{ Constants.endowment }} entre los dos jugadores.
        </p>
        <ol>
            {% for give, keep in Constants.keep_give_amounts %}
                <li>{{ give }} al respondedor (el proponente se queda {{ keep }})</li>
            {% endfor %}
        </ol>
        <h4 class="panel-sub-heading">
            Rol de Respondedor
        </h4>
        <p>
            {% if not group.use_strategy_method %}
                El respondedor puede aceptar o rechazar la propuesta.
            {% else %}
                Mientras el proponente hace las propuestas, el respondedor puede seleccionar
                cuales de los {{ Constants.offer_choices_count }} propuestas aceptar o rechazar.
                Después de que el proponente haya hecho la propuesta, será
                aceptada o rechazada de acuerdo con las elecciones del respondedor.
            {% endif %}
        </p>
        <h4 class="panel-sub-heading">
            Resultados
        </h4>
        <p>
            {% if not group.use_strategy_method %}
                Al final, cuando ambos jugadores hayan tomado una decisión, se mostrará la página de resultados.
                Aquí la oferta se mostrará una vez más junto con el estado de aceptación o rechazo.
            {% else %}
                Se mostrará una página de resultados una vez que ambos jugadores hayan realizado
                sus decisiones y esas decisiones se hayan implementado.
                Aquí, se mostrará si la oferta fue aceptada o rechazada.
            {% endif %}
        </p>
        Además, se mostrará uno de los siguientes dos payoffs:
        <ul>
            <li>
                Si la oferta es aceptada, el jugador recibirá el payoff en consecuencia
            </li>
            <li>
                Si la oferta es rechazada, ambos jugadores recibirán {{ Constants.payoff_if_rejected }}
            </li>
        </ul>
    </div>
  </div>
