{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
{% include Constants.header_template %}
    <div class="w3-center">
      Tu rol y decisión
    </div>
{% endblock %}
{% block content %}
    <p>
            Tu eres el <strong>proponente</strong>.
    </p>
    <p>
        Ustedes dos se han dado {{ Constants.endowment }}. Ingrese el monto que desea ofrecer al respondedor.
    </p>
    {% formfield group.amount_offered label="Cuánto te gustaría ofrecer?" %}
    {% next_button %}
   {% include Constants.instructions_template %}
   {% include Constants.footer_template %}
{% endblock %}
